@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  font-family: Calibri;
  background-color: #e6e6e6;
}


#all_content_holder
{
  width: 1000px;
  margin: 50px auto;
  background-color: rgba(0,0,0,0);

}

#page_content
{
  width: 989px;
  padding: 30px 40px;
  background-color: White;
  position: relative;
  z-index: 0;
}
