<!DOCTYPE HTML>
<html>
  <head>
    <title>page to test the boilerplate</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link rel = "stylesheet" type = "text/css" href = "Boilerplate.css">
  </head>
  <body>
    <div  id = "all_content_holder">

      <div id = "title_box">
        <div id = "title">
          Trinity Casket Store... And More
        </div>
        <div id = "top_buttons">
          <div id = "login_signup">
            <div id = "login">
               login
            </div>
            <div id = "signup">
              sign up
            </div>
          </div>
          <div id = "user_info">
            INFO
          </div>
          <div id = "cart">
            CART
          </div>
        </div>
      </div>

      <div id = "middle_box">
        <div id = "middle_box_info">
          Welcome to the website. This box is used to contain important header information. It should be about two lines long, although it could be extended if necessary.
        </div>
        <div id="search_bar_holder">
          <input type="text" placeholder = "Search..." name = "search" id="search_bar">
          <button type = "submit" id="search_bar_button">
            GO
          </button>
        </div>

      </div>

      <div id = "navbar">
        <div class = "nav_button">
          HOME
        </div>
        <div class = "nav_button">
          ABOUT
        </div>
        <div class = "nav_button">
          CASKETS
        </div>
        <div class = "nav_button">
          URNS
        </div>
        <div class = "nav_button">
          HEADSTONES
        </div>
        <div class = "nav_button">
          FAQ
        </div>
      </div>
      <div id = "page_content">
        this is where the content on the page goes
      </div>
      <div id = "footer">
        © Trinity Casket Store... And More 2019
      </div>
    </div>
  </body>
</html>
