#column_box
{
  width: 100%;
  margin-left:-15px;
}

.columns
{
  width: 33%;
  display: inline-block;
  vertical-align: top;
  text-align: center;

}

.name
{
  padding-left: 30px;
  margin-bottom: 5px;
}

p
{
  margin-left: -10px;
}

h3
{
  text-align: center;
  padding-left: -30px;
  margin-left: -13px;
}
